<link rel="stylesheet" href="/css/product.css">

<div class="container bg-white">
    <div class="row">
        <div class="col-xl-6">
            <div class="product-imgs">
                <img src="/imgs/product1.jpg" alt="">
            </div>
        </div>

        <div class="col-xl-6">
            <div class="product-info">
                <h3 class="product-infor_title mt-4 me-3">Bàn phím giả cơ gaming kèm chuột có dây chế độ led 7 màu tiện
                    lợi dành cho máy tính,game thủ,văn phòng</h3>
                <p class="product-infor_price">30.000.000đ</p>
            </div>

            <div class="product-infor_btn">
                <button class="btn border border-primary">
                    <i class="fa-regular fa-cart-plus"></i>
                    Thêm vào giỏ hàng</button>
                <button class="btn text-bg-primary border border-primary">Mua Ngay</button>
            </div>

        </div>
    </div>
</div>

<div class="container bg-white">
    <h2 class="product-title">Chi tiết sản phẩm</h2>

    <div class="product-desc">
        
    </div>
</div>

<script src="/js/product.js"></script>