<link rel="stylesheet" href="/css/home.css">


<div class="container">
    <div class="slider">
        <div class="slider-content" onmouseenter="stopInterval()" onmouseleave="startInterval()">
            <img src="/images/banner/banner1.jpg" alt="">
            <img src="/images/banner/banner2.jpg" alt="">
            <img src="/images/banner/banner3.jpg" alt="">
            <img src="/images/banner/banner4.jpg" alt="">
            <img src="/images/banner/banner5.jpg" alt="">
        </div>
        <div class="slider-status">
            <div class="status_bar"></div>
            <div class="status_bar"></div>
            <div class="status_bar"></div>
            <div class="status_bar"></div>
            <div class="status_bar"></div>
        </div>
        <button class="prev-btn rounded-circle" onclick="prevSliderImage()" onmouseenter="stopInterval()"
            onmouseleave="startInterval()">
            <i class="fa-regular fa-angle-left"></i>
        </button>
        <button class="next-btn rounded-circle" onclick="nextSliderImage()" onmouseenter="stopInterval()"
            onmouseleave="startInterval()">
            <i class="fa-regular fa-angle-right"></i>
        </button>
    </div>
</div>

<div class="container">
    <div class="row">
        {{#each products}}
        <div class="col-12 col-md-6 col-lg-4 col-xl-3 mt-3">
            <a href="/san-pham/{{this.Slugs}}" class="product-card d-block pointer link-item">
                <div class="product-img d-flex justify-content-center align-items-center">
                    <img src="{{this.Images}}" alt="sản phẩm">
                </div>

                <div class="product-name">
                    <p>{{this.Productname}}</p>
                </div>

                <div class="product-price">
                    <p>{{this.Price}}đ</p>
                </div>
                <button class="btn hover w-100 mt-3 text-bg-primary">Mua Ngay</button>
            </a>
        </div>
        {{/each}}
    </div>
</div>

<div>

</div>


<script src="/js/home.js"></script>