<div class="footer">
    <div class="footer-container">
        <div class="footer-logo">
            <!-- <img src="logo.png" alt="Logo"> -->
            <h1>StoreDB</h1>
        </div>
        <div class="footer-info">
            <h2>Thông tin liên hệ</h2>
            <p>Email: lethanhan@gmail.com</p>
            <p>Phone: +8423456789</p>
        </div>
        <div class="footer-social">
            <h2>Theo dõi thêm</h2>
            <a href="#"><i class="fa-brands fa-facebook"></i> Facebook</a>
            <a href="#"><i class="fa-brands fa-twitter"></i> Twitter</a>
            <a href="#"><i class="fa-brands fa-instagram"></i> Instagram</a>
        </div>
    </div>
</div>