<nav class="navbar bg-primary-subtle">
    <div id="navmenu" class="container align-items-center">
        <div class="d-flex align-items-center" style="width: 400px;">
            <a href="/" class="navbar-brand apptitle">StoreDB</a>

            <form id="form-search" action="" class="w-100">
                <input id="searchinput" type="search" placeholder="Tìm kiếm" class="form-control">
            </form>
        </div>

        <div class="userArea d-flex justify-content-between aling-items-center">
            <div class="userLanguage ms-4">
                <div class="languageLogo d-flex justify-content-center align-items-center">
                    <i class="fa-regular fa-globe"></i>
                    <p>Tiếng Việt</p>
                </div>

                <ul class="userLanguage-content">
                    <li class="pointer">Tiếng Việt</li>
                    <li class="pointer">Tiếng Anh</li>

                    <div class="brtop"></div>
                    <div class="brbottom"></div>
                </ul>
            </div>

            <div class="userNotify ms-4">
                <div class="notifyLogo d-flex justify-content-end align-items-center">
                    <i class="fa-regular fa-bell"></i>
                </div>

                <div class="userNotify-content">
                    <p class="Notify-title border-bottom">Thông báo mới nhận</p>

                    <div class="Notify-list">
                        <a href="" class="Notify-item row pointer link-item">
                            <div class="col-3 col-xl-3">
                                <img id="Notify-img" src="/images/product1.jpg" alt="">
                            </div>
                            <div class="Notify-desc col-9 col-xl-9">
                                <p class="Notify-desc-title">Có sản phẩm mới</p>
                                <p class="Notify-desc-content">Laptop mới nhất năm</p>
                            </div>
                        </a>
                    </div>
                    <a href="" class="Notify-link_all pointer link-item border-top d-block text-center">Xem
                        tất cả</a>

                    <div class="brtop"></div>
                    <div class="brbottom"></div>
                </div>
            </div>

            <div class="userCarts ms-4">
                <div class="userCartLogo">
                    <i class="fa-regular fa-cart-shopping"></i>
                </div>

                <div class="userCart-content">

                    <p class="userCart-item_title border-bottom">Giỏ Hàng Của Bạn</p>

                    <a href="" class="userCart-item link-item pointer d-flex">
                        <div class="row">
                            <div class="userCart-item_img col-3 col-xl-3">
                                <img src="/images/product1.jpg" alt="">
                            </div>

                            <div class="userCart-item_name col-9 col-xl-9">
                                <p>Laptop Gaming Asus Tuff F15 FX506HCB</p>
                            </div>
                        </div>
                    </a>

                    <div class="userCart-item_btn d-flex border-top align-items-center justify-content-between">
                        <p>5 Sản phẩm mới thêm</p>
                        <button class="btn btn-primary">Xem giỏ hàng</button>
                    </div>

                    <div class="brtop"></div>
                    <div class="brbottom"></div>
                </div>
            </div>

            <div class="userInfor d-none pointer ms-4">
                <div class="d-flex align-items-center">
                    <div class="userInfor-Avatar">
                        <img src="{{currentUser.Avatar}}" alt="" class="rounded-circle">
                    </div>
                    <p id="userName">{{currentUser.DisplayName}}</p>
                </div>

                <div class="userInfor-content">
                    <a href="/nguoi-dung/{{currentUser.UserId}}" class="link-item pointer">Hồ sơ của tôi</a>
                    <a href="/nguoi-dung/quan-ly-san-pham" class="link-item pointer">Quản lý đơn hàng</a>
                    <a id="btnLogout" class="link-item pointer">Đăng xuất</a>

                    <div class="brtop"></div>
                    <div class="brbottom"></div>
                </div>
            </div>

            <a id="form-open" class="userLogin ms-4 link-item pointer" data-bs-toggle="modal"
                data-bs-target="#loginRegisterModal">Đăng nhập/Đăng ký</a>
        </div>

    </div>

    <div id="navcategory" class="container-fluid bg-dark">
        <div class="container navcategory-content">
            <ul class="list-category d-flex justify-content-between">
                <li class="link-item pointer">
                    <i class="me-1 fa-regular fa-laptop"></i>Laptop
                </li>
                <li class="link-item pointer">
                    <i class="me-1 fa-regular fa-mobile-notch"></i>Điện Thoại
                </li>
                <li class="link-item pointer">
                    <i class="me-1 fa-brands fa-apple"></i>Apple
                </li>
                <li class="link-item pointer">
                    <i class="me-1 fa-regular fa-computer"></i>PC Văn Phòng
                </li>
                <li class="link-item pointer">
                    <i class="me-1 fa-regular fa-computer"></i>PC Gaming
                </li>
                <li class="link-item pointer">
                    <i class="me-1 fa-regular fa-microchip"></i>Linh Kiện PC
                </li>
                <li class="link-item pointer">
                    <i class="me-1 fa-regular fa-keyboard"></i>Phụ Kiện
                </li>
                <li class="link-item pointer">
                    <i class="me-1 fa-regular fa-network-wired"></i>Phần Mềm & Mạng
                </li>
                <li class="link-item pointer">
                    <i class="me-1 fa-regular fa-loveseat"></i>Bàn & Ghế
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Modal -->
<div class="modal fade" id="loginRegisterModal" tabindex="-1" aria-labelledby="loginRegisterModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="width: 480px;">
            <div class="modal-header">
                <!-- Đặt tab đăng nhập và đăng ký ở giữa -->
                <ul class="nav nav-tabs mx-auto" id="myTabs" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active fs-5" id="login-tab" data-bs-toggle="tab" href="#login" role="tab"
                            aria-controls="login" aria-selected="true">ĐĂNG NHẬP</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link fs-5" id="register-tab" data-bs-toggle="tab" href="#register" role="tab"
                            aria-controls="register" aria-selected="false">ĐĂNG KÝ</a>
                    </li>
                </ul>
                <!-- Kết thúc tab đăng nhập và đăng ký -->
            </div>
            <div class="modal-body">
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="login" role="tabpanel" aria-labelledby="login-tab">
                        {{!-- Form đăng nhập --}}
                        <div>
                            <div class="mb-3">
                                <label for="loginEmail" class="form-label">Tên tài khoản:</label>
                                <input type="text" class="form-control" id="loginEmail"
                                    placeholder="Nhập Tên đăng nhập hoặc Email" required>
                                <div class="invalid-feedback">Vui lòng nhập tên đăng nhập</div>
                            </div>
                            <div class="mb-3">
                                <label for="loginPassword" class="form-label">Mật khẩu:</label>
                                <div class="input-group">
                                    <input type="password" class="form-control" id="loginPassword"
                                        placeholder="Nhập mật khẩu" required>
                                    <button class="btnEyeSlash btn bg-secondary-subtle"
                                        onclick="togglePasswordVisibility(this, 'loginPassword')">
                                        <i class="fa-sharp fa-solid fa-eye-slash"></i>
                                    </button>
                                    <div class="invalid-feedback">Vui lòng nhập mật khẩu</div>
                                </div>

                            </div>
                            <div class="mb-3 d-flex align-items-center justify-content-between">
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="rememberMe">
                                    <label class="form-check-label" for="rememberMe">Nhớ tài khoản</label>
                                </div>

                                <a href="#" class="forgot_pw">Quên mật khẩu?</a>
                            </div>

                            <span id="login-msg" class="text-danger text-center w-100 d-block d-none mb-3">Tài khoản
                                hoặc mật
                                khẩu không chính xác</span>

                            <div class="d-flex justify-content-center">
                                <button id="btnLogin" type="button" class="btn btn-primary w-50">Đăng nhập</button>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="register" role="tabpanel" aria-labelledby="register-tab">
                        {{!-- Form đăng ký --}}
                        <div>
                            <div class="mb-3">
                                <label for="registerEmail" class="form-label">Địa chỉ Email:</label>
                                <input type="email" class="form-control" id="registerEmail"
                                    placeholder="Nhập địa chỉ Email của bạn" required>
                                <div id="err-regEmail" class="invalid-feedback">Vui lòng nhập địa chỉ email</div>
                            </div>

                            <div class="mb-3">
                                <label for="registerEmail" class="form-label">Tên đăng nhập:</label>
                                <input type="text" class="form-control" id="registerUserName"
                                    placeholder="Nhập tên đăng nhập" required>
                                <div id="err-regUserName" class="invalid-feedback">Vui lòng nhập tên đăng nhập</div>
                            </div>

                            <div class="mb-3">
                                <label for="registerPassword" class="form-label">Mật khẩu:</label>
                                <div class="input-group">
                                    <input type="password" class="form-control" id="registerPassword"
                                        placeholder="Nhập mật khẩu của bạn" required>
                                    <button class="btnEyeSlash btn bg-secondary-subtle"
                                        onclick="togglePasswordVisibility(this, 'registerPassword')">
                                        <i class="fa-sharp fa-solid fa-eye-slash"></i>
                                    </button>
                                    <div id="err-regPwd" class="invalid-feedback">Vui lòng nhập mật khẩu</div>
                                </div>
                            </div>

                            <div class="mb-3">
                                <label for="confirmPassword" class="form-label">Nhập lại mật khẩu:</label>
                                <div class="input-group">
                                    <input type="password" class="form-control" id="confirmPassword"
                                        placeholder="Nhập lại mật khẩu của bạn" required>
                                    <button class="btnEyeSlash btn bg-secondary-subtle"
                                        onclick="togglePasswordVisibility(this, 'confirmPassword')">
                                        <i class="fa-sharp fa-solid fa-eye-slash"></i>
                                    </button>
                                    <div id="err-regCfpwd" class="invalid-feedback">Mật khẩu xác nhận không chính xác
                                    </div>
                                </div>
                            </div>

                            <div class="d-flex justify-content-center">
                                <button id="btnRegister" class="btn btn-primary w-50">Đăng ký</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{!-- Đăng nhập bằng Google hoặc Facebook --}}
            <div style="padding: 0 16px 16px 16px">
                <div class="text-center mb-3">
                    <div class="d-inline-block px-2 border-top border-secondary" style="width: 100px;">
                    </div>
                    <span class="mx-2">Hoặc</span>
                    <div class="d-inline-block px-2 border-top border-secondary" style="width: 100px;">
                    </div>
                </div>
                <div class="d-flex justify-content-between">
                    <!-- Nút đăng nhập bằng Google -->
                    <button id="loginGoogle" type="button" class="btn btn-outline-danger mb-3">
                        <img src="/images/icons/google-logo.png" alt="" class="btnLogo">
                        Đăng nhập với Google
                    </button>

                    <!-- Nút đăng nhập bằng Facebook -->
                    <button type="button" class="btn btn-outline-primary mb-3">
                        <img src="/images/icons/facebook-logo.png" alt="" class="btnLogo">
                        Đăng nhập với Facebook
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

{{!-- Modal xác thực email --}}
<div class="modal fade" id="verifyEmailModal" tabindex="-1" aria-labelledby="verifyEmailModalLabel" aria-hidden="true"
    data-bs-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center d-block w-100" id="verifyEmailModalLabel">Xác thực email</h5>
            </div>
            <div class="modal-body">
                <p id="err-verifyCode" class="d-block text-center">Một mã xác thực đã được gửi đến Email <span
                        id="emailVerify" class="text-danger">LeThanhAn342004@gmail.com</span>. Vui
                    lòng kiểm tra hộp thư Email của bạn</p>
                <div class="input-group">
                    <input type="text" class=" form-control" id="verifyCode" placeholder="Nhập mã xác thực">
                    <button id="btnVerifyLogout" class="btn btn-danger d-none">Đăng xuất</button>
                </div>

                <div id="msg-verify" class="invalid-feedback">Vui lòng nhập mã xác thực</div>
                <div class="row mt-3">
                    <div class="col align-items-center">
                        <a href="" id="link-resend">Gửi lại mã xác thực</a>
                        <p id="resendCountdown" class="mb-0 d-none">Gửi lại mã sau: <span id="countdown">60</span>s</p>
                    </div>
                    <div class="col align-items-center">

                        <button id="btnVerify" type="button" class="btn btn-primary w-100">Xác thực</button>
                        <button id="btnVerify1" type="button" class="btn btn-primary w-100 d-none">Xác thực</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>



</script>



<script>
    document.addEventListener("DOMContentLoaded", function () {
        
    });
</script>