<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{!-- fontawesome --}}
    <link rel="stylesheet" href="/lib/fontawesome-6.4.2/css/all.css">
    {{!-- bootstrap5 --}}
    <link rel="stylesheet" href="/lib/bootstrap-5.3.2-dist/css/bootstrap.css">
    {{!-- handlebars --}}
    <script src="/lib/handlebars/handlebars4.7.8.min.js"></script>
    {{!-- mystyle --}}
    <link rel="stylesheet" href="/css/layout.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/toast.css">
    {{!-- logo --}}
    <link rel="shortcut icon" href="/images/favicon.ico">
    {{!-- myscript --}}
    <script src="/js/main.js"></script>
    <title>StoreDB</title>
</head>

<body>
    <div id="toast"></div>

    <header class="">
        {{>header}}
    </header>

    <main>
        {{{body}}}
    </main>

    <footer>
        {{>footer}}
    </footer>

    
    {{!-- jquery --}}
    <script src="/lib/jquery-3.7.1/all.js"></script>
    {{!-- bootstrap5 --}}
    <script src="/lib/bootstrap-5.3.2-dist/js/bootstrap.js"></script>
    {{!-- myjavascript --}}
    <script src="/js/layout.js"></script>
    <script src="/js/toast.js"></script>
</body>

</html>